.about-bike-connect {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align the content at the top */
    padding: 20px;
    background-color: #f0f9ff;
    border-radius: 16px;
    max-width: 100%;
    margin: 30px 0px 0px;

}

.text-content {
    max-width: 55%; /* Adjusted width for more text space */
    margin-top: 0px; /* Ensure it's at the top */
    padding: 0px 30px;
}

.text-content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 55px;
}

.text-content p {
    font-size: 1.2rem;
    color: #4b5563;
    line-height: 1.75;
}

.image-container {
    max-width: 40%; /* Adjusted to occupy more space */
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
