:root {
  --primary-color: #472CB2;
  --secondary-color: #aaa;
  --text-color: #666;
  --star-color: #ffc107;
}

.rental-grid-container {
  padding: 20px 0px;
}

a {
  text-decoration: none;
}

/* Card Styles */
.rental-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
}

.rental-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.rental-type-buttons .rental-type-button {
  border-radius: 20px;
  margin: 0 8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.rental-type-buttons .rental-type-button.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.rental-type-buttons .rental-type-button.btn-outline-secondary {
  background-color: transparent;
  color: var(--primary-color);
}

.rental-type-buttons .rental-type-button:hover {
  background-color: rgba(71, 44, 66, 0.1);
  color: var(--primary-color);
}

.rental-image-wrapper {
  position: relative;
  height: 200px;
}

.rental-image {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

/* Text and price formatting */
.rental-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rental-price-section {
  display: flex;
  flex-direction: column; /* Đặt giá hiện tại và giá cũ trên các dòng riêng */
  align-items: start;
  font-size: 14px;
  margin-bottom: 10px;
}

.rental-current-price {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px; /* Khoảng cách giữa giá hiện tại và giá cũ */
}

.rental-original-price {
  text-decoration: line-through;
  color: var(--secondary-color);
  font-size: 14px;
}


/* Location and icons */
.rental-location {
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.location-icon {
  margin-right: 5px;
  color: var(--primary-color);
}

/* Footer section */
.rental-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.rental-status {
  display: flex;
  align-items: center;
  gap: 5px;
}

.status-icon {
  color: var(--primary-color);
}

.distance-icon {
  margin-right: 5px;
  color: var(--primary-color);
}

.rental-rating {
  display: flex;
  align-items: center;
}

.rental-star {
  color: var(--star-color);
  font-size: 14px;
}

.rental-review-count {
  margin-left: 5px;
  font-size: 12px;
  color: var(--text-color);
}

/* Pagination buttons */
.rental-page-btn {
  margin: 0 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rental-prev-btn,
.rental-next-btn {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .rental-image {
      height: 150px;
  }
}
