.navbar-dashboard {
    background-color: #ffffff93;
    padding: 15px;
    width: 10%;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    margin: 15px 0;
    position: relative;
}

.nav-link {
    color: #472CB2;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.active {
    color: #27ec37;
}

.nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 50%;
    background-color: #472CB2;
    border-radius: 3px;
}

.nav-link:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}