.manage-customer-container {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
}

.search-sort-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.search-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sort-select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sort-label {
    align-self: center;
    margin-right: 5px;
    margin-left: 10px;
}

.customer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.customer-table th,
.customer-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.customer-table th {
    background-color: #472CB2;
    color: white;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s;
}

.icon:hover {
    color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.page-button {
    margin-left: 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.page-button.active {
    background-color: #472CB2;
    color: white;
}

.page-button:hover {
    background-color: #0056b3;
    color: white;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.status.active {
    background-color: #28a745;
}

.status.inactive {
    background-color: #dc3545;
}

.confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 300px;
}

.confirmation-modal p {
    margin: 0 0 15px;
    font-size: 16px;
    text-align: center;
}

.confirmation-modal button {
    background-color: #472CB2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmation-modal button:hover {
    background-color: #5a5a5a;
}

.confirmation-modal button:last-child {
    background-color: #dc3545;
}

.confirmation-modal button:last-child:hover {
    background-color: #c82333;
}